<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Attendance Timer</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/timer.css') }}">
</head>
    <style>
    .btn-download {
        padding: 10px 16px;
        background-color: #2563eb;
        color: white;
        text-decoration: none;
        border-radius: 6px;
        font-weight: bold;
    }

    .btn-download:hover {
        background-color: #1e40af;
    }
</style>
<body>
    <div class="container">
        <h1>👇 Attendance timer ✅</h1>
        <p>Your Attendance will be marked automatically after:</p>
        <div id="timer">30:00</div>
    </div>    

    <script src="{{ url_for('static', filename='js/timer.js') }}"></script>
</body>
</html>
